body {
    font-family: 'Dancing Script', cursive;
    border: 500px grey;
    background-color: rgb(224, 255, 234);
}

.home{
    text-align: left;
}

.title {
    display: block;
    text-align: center;
    float: center;
    width: 100%;
    height: 100%;
}

span.text_l {
    display: block;
    float: left;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
}

.page {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

span.text_r {
    display: block;
    float: right;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
}




